*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #ffffff;
    --text-color: #20f172a;
    --main-color: #667280;
    --other-color: #3334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff5b;
    padding: 17px 11%;
    border-bottom: 1px solid #f7f9fb;
    transition: all .4s ease;
}
.logo img {
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
}
.navbar a {
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    background: transparent;
    border-radius: 30px;
    transition: all .4s ease;
}

.navbar a:hover {
    background: #34d27685;
}
.navbar a.active {
    background: #34d276;
}
.icons{
    display: flex;
    align-items: center;
}
.icons i{
    height: 50px;
    width: 50px;
    background: #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 22px;
    margin-left: 10px;
    margin-right: 25px;
    transition: all .45s ease;
}
.icons i:hover{
    transform: scale(0.9);
}
#menu-icon{
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 11% 90px;
}
.home {
    width: 100%;
    height: 100vh; /* full screen height */
    background-image: url("img/background_offwhite.png");
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: aquamarine;
}
.home-img img{
    width: 180%;
    height: auto;
    align-items: center;
}
.home-text h4{
    font-size: 22px;
    font-weight: 500;
    color: #111827;
}
.home-text h1{
    font-size: var(--big-font);
    color: #111827;
    line-height: 1.2;
    margin: 25px 0 45px;
}
.btn{
    display: inline-block;
    padding: 16px 30px;
    background: #34d276;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .4s ease;
}
.btn:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}
header.sticky{
    background:
    var(--bg-color);
    padding: 14px 11%;
}
.middle-text h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.row{
    padding: 40px 30px;
    background: #34d27685;
    border-radius: 20px;
    transition: all .4s ease;
    
}
.main-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    text-align: center;
    height: 350px;
}
.row-img img{
    width: 150px;
    height: auto;
    max-width: 100%;
    }
.row-text h6{
    font-size: 12px;
    font-weight: 500;
    color: var(--other-color);
    margin-bottom: 1rem;
}
.row-text h3{
    margin-bottom: 3rem;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.row-btn{
    display: inline-block;
    padding: 12px 22px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 15px;
    border-radius: 30px;
    transition: all .4s ease;
    
}
.row-btn:hover{
    letter-spacing: 1px;
    color: var(--bg-color);
    background: #EC4899;
}
.row:hover{
    transform: translateY(-5px);
    cursor: pointer;
}



















@media (max-width: 1410px){
    .row-text h6{
        margin-bottom: 5px;
    }
    .row-text h3{
        margin-bottom: 1rem;
    }
    .cta-text{
        margin-left: 55px;
    }
    .home{
        height: 90vh;
    }
}